{% extends 'base.html' %}

{% block title %}
Tags
{% endblock %}

{% block content %}

<div class="container pt-4">
    <h1 class="mb-4">Tags</h1>
    <div class="d-flex tag-gap">
        <section>
            <h2>All tags</h2>
            <ul class="py-2">
                {% for tag in tags %}
                <li><a class="fs-3" href="/tags/{{tag.id}}">{{tag.name}}</a></li>
                {% endfor %}
            </ul>
        </section>   
        
        <section>
            {% if g.user %}
            <h2>Your tags</h2>
            <ul class="py-2">
                {% for tag in g.user.tags %}
                <li><a class="fs-3" href="/tags/{{tag.id}}">{{tag.name}}</a></li>
                {% else %}
                <p>You haven't created any tags yet.</p>
                {% endfor %}
            </ul>
            {% endif %}
            <a href="{{url_for('create_tag')}}" class="btn btn-primary rounded mb-4 align-self-start">Create Tag</a>
        </section>
    </div>
    
</div>

{% endblock %}