/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Grey+Qo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

.content {
    margin-top: 4rem;
}
.add-user-form {
    margin-top: 4rem;
}
/* Navbar CSS */

.navbar {
    background-color: rgba(255, 255, 255);
}

.navbar img {
    width: 2.5rem;
}

.anchor-tag {
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.anchor-tag:hover {
    color: rgb(176, 176, 219) !important
}

.navbar a.logo {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.25rem;
}

.navbar-collapse.show .nav-item .btn {
    width: 5rem;
}

.navbar .profile-img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

/* Users CSS */
.user-list img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.profile-img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
}

/* User Profile CSS */

.user-profile-header {
    position: relative;
    text-align: center;
}

.user-profile-header img {
    width: 100%;
    height: auto;
    max-height: 20rem;
    display: block;
    object-fit: cover;
    background-color: pink;
}

.user-profile-header .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.375);
    padding-bottom: 1.5rem;
}

.user-profile-header h2 {
    font-size: 5rem;
}

.user-details .favorites,
.user-details .tags {
    font-size: 2.5rem;
}

.scripture-title,
.tag-name {
    font-size: 1.25rem;
}

/*Search Page CSS */

.search-profile-header {
    position: relative;
    text-align: center;
}

.search-profile-header img {
    width: 100%;
    height: auto;
    max-height: 400px;
    display: block;
    object-fit: cover;
}

.search-profile-header .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.375);
    padding-bottom: 1.5rem;
}

.search-profile-header h2 {
    font-size: 5rem;
}

.search {
    background-color: whitesmoke;
}

/* User Form CSS */
.add-user-form {
    background-color: whitesmoke;
    padding-bottom: 4rem 2rem;
    border-radius: 0.5rem;
    margin-top: 0;
}

/* Tag CSS */
.tag-gap {
    gap: 10rem;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .user-profile-header h2 {
        font-size: 2.5rem; /* Adjust font size for mobile */
        padding: 0 2rem;
    }

    .search-profile-header h2 {
        font-size: 2.5rem; /* Adjust font size for mobile */
        padding: 0 2rem;
    }

    .scripture-search {
        font-size: 2.5rem;
    }
}

@media (max-width: 990px) {
    .navbar-nav.left {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}
