{% extends 'base.html' %}

{% block title %}Scripture Sanctuary{% endblock %}

{% block content %}

<div class="search-profile-header">
    <img src="https://img.freepik.com/free-photo/view-beautiful-rainbow-nature-landscape_23-2151597605.jpg?t=st=1723076018~exp=1723079618~hmac=0681d05d4128ee0d84e620f6b4c2dfb03a3f04ffd3adbcc022abe2a62ea4ad08&w=996" alt="">
    <div class="text">
        <h1 class="pt-4 display-1 text-white lead">404</h1>
        <h2 class="pt-4 display-2 text-white lead">Oops... Page Not Found</h2>
    </div>
</div>

{% endblock %}