{% extends 'base.html' %}

{% block title %}Scripture Sanctuary{% endblock %}

{% block content %}

<div class="search-profile-header">
    <img src="https://img.freepik.com/free-photo/view-beautiful-rainbow-nature-landscape_23-2151597605.jpg?t=st=1723076018~exp=1723079618~hmac=0681d05d4128ee0d84e620f6b4c2dfb03a3f04ffd3adbcc022abe2a62ea4ad08&w=996" alt="">
    <div class="text">
        <h2 class="pt-4 display-1 text-white lead">Welcome to Scripture Sanctuary</h2>
    </div>
</div>

<div class="search container">
    <!-- Search for bible verse(s) form -->
    <form method="POST" action="{{ url_for('search') }}">
        <h1 class="scripture-search display-4 form-title pt-4 pb-2">Scripture Search</h1>
        
        {{ form.hidden_tag() }} <!-- Include CSRF token and other hidden fields -->
    
        <div class="container">
            <div class="row">
                {% for field in form %}
                    {% if field.widget.input_type != 'hidden' %}
                        <div class="col-md-2 mb-2 px-1"> <!-- Adjust column size and margin-bottom as needed -->
                            <div class="form-group">
                                {% if field.name != 'search' %}
                                    {{ field.label(class_="form-label") }}
                                {% endif %}
                                {% if field.name == 'start_verse' or field.name == 'end_verse' %}
                                    {{ field(class_="form-control", placeholder="Optional") }}
                                {% elif field.name == 'search' %}
                                    <label class="form-label d-block">&nbsp;</label> <!-- Placeholder to maintain spacing -->
                                    {{ field(class_="form-control btn btn-primary text-white") }}
                                {% else %}
                                    {{ field(class_="form-control") }}
                                {% endif %}
                                
                                {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in field.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </form>
    <!-- Display the scripture -->
    {% if scripture_text %}
        <h2 class="lead display-4 pt-2">
            {{formated_scripture}} 
        </h2>
        <ul class="list-unstyled pb-4">
            {% for verse in scripture_text %}
                <li class="p-1 fs-5">
                    <span class="lead px-1 fs-5">{{ verse['verse']}}</span>
                    {{ verse['text'] | safe }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
</div>

{% endblock %}