{% extends 'base.html' %}

{% block title %}
{{tag.name}}
{% endblock %}

{% block content %}

<div class="p-4 container">   
    <h1 class="text-capitalize">{{tag.name}} Scriptures</h1>
    <!-- Show all posts belonging to tag -->
    <ul>
        {% if scriptures %}
            {% for scripture in scriptures %}
                <li><a class="scripture-title" href="/favorites/{{scripture.id}}">{{scripture.title}}</a></li>
            {% endfor %}
        {% else %}
            <li class="p-2">No scriptures yet.</li>
        {% endif %}
    </ul>
    <div class="d-flex pb-3">
        <a href="/tags/{{tag.id}}/edit" class="btn btn-primary">Edit</a>
        <form action="/tags/{{tag.id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger ml-2">Delete</button>
        </form> 
    </div> 
    <a href="/tags">Back to tags</a>
</div>

{% endblock %}