{% extends 'base.html' %}

{% block title %}
Create a tag
{% endblock %}

{% block content %}

<h1 class="p-2">Create a tag</h1>
<form action="/tags/new" method="POST">
    <input type="text" name="name" placeholder="Enter a name for a tag" required>
    <div class="add-cancel">
        <a href="/tags" class="btn btn-outline-info cancelBtn">Cancel</a>
        <button type="submit" class="btn btn-success">Add</button>
    </div> 
</form>

<div class="d-flex flex-column">
    <a href="/tags">Back to tags</a>
</div>

{% endblock %}