{% extends 'base.html' %}

{% block title %}
Post
{% endblock %}
formate
{% block content %}

<div class="container">
    <!-- Display the scripture -->
    <section class="container bg-white">
        {% if scripture_text %}
            <h2 class="lead display-4 pt-2">
                {{formatted_scripture.title}} 
            </h2>
            <ul class="list-unstyled">
                {% for verse in scripture_text %}
                    <li class="p-1 fs-5">
                        <span class="lead px-1 fs-5">{{ verse['verse']}}</span>
                        {{ verse['text'] | safe }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section> 

    <section class="pb-4 px-3">
        <div class="pb-2">
            <a href="{{url_for('user_profile', user_id=favorite.users.id)}}" class="btn btn-primary mr-2 rounded">My Profile</a>   
        </div> 
        {% if g.user.id == favorite.users.id %}
        <div class="d-flex pb-2">
            <form action="{{url_for('edit_favorite', favorite_id=favorite.id)}}">
                <button type="submit" class="btn btn-success rounded">Add/Remove Tag</button>
            </form>
            <form action="{{url_for('delete_favorite', favorite_id=favorite.id)}}" method="POST">
                <button type="submit" class="btn btn-outline-danger ml-2 rounded">Delete</button>
            </form>
        </div>
        {% endif %}
        <div class="py-2">
            <a href="{{url_for('user_profile', user_id=favorite.users.id)}}">More from {{favorite.users.first_name}} {{favorite.users.last_name}}</a> <span class="p-2">Created on {{time}}</span>
        </div>
        
         
        <!-- Display tags for favorites -->
        {% if favorite.tags %}
            <h2 class="lead fs-1">Tags: </h2>
            <ul class="favorite-tags d-flex">
                {% for tag in favorite.tags %}
                    <li>
                        <a href="/tags/{{tag.id}}" class="btn btn-primary btn-sm py-0 px-1 text-capitalize font-italic font-weight-bold mr-2 fs-6">{{tag.name}}</a>
                    </li>
            {% endfor %}
            </ul>
        {% endif %} 
    </section>

</div>

{% endblock %}