{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="pt-4 display-4">Users</h1>

    <ul class="pt-3"> 
        {% for user in users %}
        <li class="user-list d-flex pb-3">
            <a href="{{url_for('user_profile', user_id=user.id)}}" class="user-list d-flex">
                <img class="rounded-circle" src={{user.profile_img_url}} alt="">
                <p class="h-100 d-flex align-items-center pl-2"> {{user.first_name}} {{user.last_name}} @{{user.username}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>

    <a href="{{url_for('signup')}}" class="btn btn-info mb-4 rounded">Sign up</a>

</div>
{% endblock %}