{% extends 'base.html' %}

{% block title %}
{{user.username}}
{% endblock %}

{% block content %}

<div class="user-profile-header">
    <img src="{{user.img_url}}" alt="">
    <div class="text">
        <h2 class="pt-4 display-1 text-white lead">Welcome {{user.first_name}}!</h2>
    </div>
</div>

<div class="container"> 
    <section>
        <div class="pt-4 d-flex justify-center align-items-center">
            <img class="rounded-circle profile-img" src={{user.profile_img_url}} alt="">
            <p class="mb-0 lead display-4 profile-name pl-2">{{user.first_name}} {{user.last_name}}</p>
        </div>
        <span class="fs-3 text-muted">@{{user.username}}</span>
        {% if g.user.id == user.id %}
        <div class="d-flex pt-3">
            <a href="/users/{{user.id}}/edit" class="btn btn-primary mr-2">Edit</a>
            <form action="/users/{{user.id}}/delete" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form> 
        </div> 
        {% endif %}
    </section>

    <section class="user-details row">
        <section class="user-details-fav col">
            <h2 class="favorites pt-4 lead">Favorites</h2>
            <ul>
                {% if scriptures %}
                    {% for scripture in scriptures %}
                    <li><a class="scripture-title" href="/favorites/{{scripture.id}}">{{scripture.title}}</a></li>
                    {% endfor %}
                {% else %}
                    <li class="p-2">No favorites yet.</li>
                {% endif %}
            </ul>
            {% if g.user.id == user.id %}
            <div class="d-flex flex-column">
                <a href="{{url_for('search')}}" class="btn btn-primary align-self-start">Add Favorite</a>
            </div>
            {% endif %}
        </section>
        
        <section class="user-details-tags col">
            <h2 class="tags pt-4 lead">Tags</h2>
            <ul>
                {% if tags %}
                    {% for tag in tags %}
                    <li><a class="tag-name" href="/tags/{{tag.id}}">{{tag.name}}</a></li>
                {% endfor %}
                {% else %}
                    <li class="py-2">No tags yet.</li>
                {% endif %}
            </ul>
            <div class="d-flex flex-column">
                <!-- <a href="{{url_for('search')}}" class="btn btn-primary align-self-start">Add Tag</a> -->
            </div>
        </section> 
    </section>
</div>

{% endblock %}